@page "/"

<div class="container">
    <div id="question-display">
        @FirstNumber <span class="operator">x</span> @SecondNumber
    </div>
    <UserAnswerDisplay Value="UserAnswer" />
    <NumberInput OnNumberChanged="UpdateAnswerDisplay" OnNumberSubmitted="CheckAnswer" />
</div>

<ul>
@foreach (var result in Results) {
    if (result.Correct) {
        <li class="correct-answer">&#10004;</li>
    }
    else {
        <li class="wrong-answer">&#10008; <strong>@result.CorrectAnswer</strong></li>
    }
}
</ul>
@code {
    int FirstNumber { get; set; }
    int SecondNumber { get; set; }
    int? UserAnswer { get; set; }
    List<(bool Correct, string CorrectAnswer)> Results = new ();

    protected override void OnInitialized()
    {
        GenerateQuestion();
    }

    private void GenerateQuestion()
    {
        var random = new Random();
        FirstNumber = random.Next(1, 12);
        SecondNumber = random.Next(1, 2) * 5;
    }

    private void CheckAnswer()
    {
        var correct = UserAnswer == (FirstNumber * SecondNumber);
        Results.Add((correct, $"{FirstNumber} x {SecondNumber} = {FirstNumber * SecondNumber}"));

        UserAnswer = null;
        GenerateQuestion();
    }

    private void UpdateAnswerDisplay(int? number) {
        UserAnswer = number;
    }
}