@page "/"

<div class="container">
    <div id="question-display">
        @FirstNumber <span class="operator">x</span> @SecondNumber
    </div>
    <div>
        <UserAnswerDisplay Value="UserAnswer" />
    </div>
    <div class="row">
        <NumberInput OnNumberChanged="UpdateAnswerDisplay" OnNumberSubmitted="CheckAnswer" />
    </div>
    <div class="row">
        <ResultDisplay @ref="Results" />
    </div>
</div>


@code {
    int FirstNumber { get; set; }
    int SecondNumber { get; set; }
    int? UserAnswer { get; set; }
    private ResultDisplay? Results;

    protected override void OnInitialized()
    {
        NextQuestion();
    }

    private void NextQuestion()
    {
        UserAnswer = null;
        var random = new Random();
        FirstNumber = random.Next(1, 12);
        SecondNumber = random.Next(1, 2) * 5;
    }

    private void CheckAnswer()
    {
        Results!.AddAnswer(UserAnswer ?? 0, FirstNumber, SecondNumber);
        
        NextQuestion();
    }

    private void UpdateAnswerDisplay(int? number) {
        UserAnswer = number;
    }
}