@page "/"

<Clock @ref="Clock" />
<div class="container">
    
        @if (_finished) {
            <div id="tally-display">
                Complete! @_correctCount out of @_answerCount correct
            </div>
        }
        else {
            <div id="question-display">
                @FirstNumber <span class="operator">x</span> @SecondNumber      
            </div>
        }
    <div>
        <UserAnswerDisplay Value="UserAnswer" />
    </div>
    <div class="row">
        <NumberInput OnNumberChanged="UpdateAnswerDisplay" OnNumberSubmitted="CheckAnswer" />
    </div>
    <div class="row">
        <ResultDisplay @ref="Results" />
    </div>
</div>


@code {
    private readonly Random _random = new Random();
    int FirstNumber { get; set; }
    int SecondNumber { get; set; }
    int? UserAnswer { get; set; }
    private ResultDisplay? Results;
    private Clock? Clock;
    private bool _finished;
    private int _answerCount, _correctCount;

    protected override void OnInitialized()
    {
        NextQuestion();
    }

    private void NextQuestion()
    {
        UserAnswer = null;
        FirstNumber = _random.Next(1, 12);
        SecondNumber = _random.Next(1, 3) * 5;
    }

    private void CheckAnswer()
    {
        if (_finished) return;

        _answerCount++;
        var result = new Result(UserAnswer ?? 0, FirstNumber, SecondNumber);
        if (result.Correct)
            _correctCount++;
        Results!.AddAnswer(result);
        if (_answerCount == 10)
        {
            _finished = true;
            Clock!.Stop();
        }
        else
        {
            NextQuestion();
        }
        
    }

    private void UpdateAnswerDisplay(int? number) {
        if (_finished) return;
        UserAnswer = number;
    }
}