#number-input div.row {
    padding-top: 15px;
}

#number-input button {
    width: inherit;
    height: 120px;
    background-color: bisque;
    font-size: xx-large;
}

#number-input .submit-number button {
    background-color: darkseagreen;
}