<ul id="result-display" class="list-inline">
    @foreach (var result in Results) {
        <li class="list-inline-item  @(@result.Correct ? "correct-answer" : "wrong-answer")">
            @if (result.Correct) {
                <span class="icon">&#10004;</span>
            }
            else {
                <span class="icon">&#10008;</span>
            }
            &nbsp;
            @result.FirstNumber x @result.SecondNumber = <strong>@result.CorrectAnswer</strong>
        </li>
    }
</ul>

@code {
    private List<Result> Results { get; set; } = new ();

    public void AddAnswer(Result result)
    {    
        Results.Add(result);
        StateHasChanged();
    }
}